@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

* {
	font-family: 'Kanit', sans-serif;
}

.font-nunito {
	font-family: 'Nunito', sans-serif;
}

.font-dongle {
	font-family: 'Dongle', cursive;
}

.font-cookie {
	font-family: 'Cookie', cursive;
}

body {
	width: 100%;
	height: 100%;
}
